body {
  margin: 0;
  padding: 0;
  text-align: center;
}
section {
  padding: 50px;
  background-color: #faf1e6;
}
p {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 2;
}

h2,
h3 {
  color: purple;
}
input {
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid #c490e4;
  width: 80%;
  height: 40px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
  background: transparent;
}

textarea {
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid #c490e4;
  width: 80%;
  height: 120px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
  background: transparent;
}
hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
/* Animations */
.animation {
  animation: upToDown 3s cubic-bezier(0.34, -0.24, 0.76, 1.51) forwards;
}
.animate {
  animation: leftToRight 2s ease-in-out;
}
@keyframes upToDown {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes leftToRight {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

/* Nav Bar */
.navbar {
  background-color: purple;
}
.brand {
  font-family: "Cinzel Decorative", cursive;
  color: #ffc107;
}

/* Introduction */
.checkbox {
  opacity: 0;
  position: absolute;
  width: 0;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  left: 95%;
  height: 18px;
  width: 40px;
  transform: scale(1.5);
}

.label .ball {
  background-color: #ffc107;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 14px;
  width: 15px;
  transform: translateX(0px);
  transition: transform 0.3s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(20px);
}

.intro {
  padding-top: 40px;
  color: #0abda2;
  text-align: center;
}
.NameIntro {
  font-size: 3rem;
  font-family: "Lobster", cursive;
}
.ifeanyi-span {
  font-weight: bolder;
  font-size: 5rem;
  font-family: "Domine", serif;
}

@media (max-width: 400px) {
  .ifeanyi-span {
    font-size: 4rem;
  }
}

/* Jump to start */
.myBtn {
  display: none;
  position: fixed;
  width: 60px;
  bottom: 20px;
  right: 10px;
  font-size: 35px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
/* Icons */
.icon {
  padding-bottom: 10px;
  color: purple;
}
.abticon {
  color: purple;
  padding-top: 10px;
  padding-bottom: 10px;
}
#topBtn {
  padding: 0;
}
#subBtn {
  padding-right: 4px;
  text-align: left;
}
.fa-laptop-code,
.fa-user-graduate,
.fa-user-tie {
  padding-left: 20px;
}
.fas,
.far {
  padding-right: 20px;
}
#modeIconSun {
  padding-right: 10px;
}
.fa-moon {
  padding: 0;
  color: #ffc107;
}
.fa-sun {
  color: #ffc107;
}

/* About Me */
#aboutMe {
  padding-top: 10px;
  text-align: center;
}
.paraAbtMe {
  font-size: 1.4rem;
}

.box {
  padding-bottom: 40px;
  text-align: center;
}

/* Skills */
.skillsSection {
  background-color: #ffc074;
  padding: 100px 0;
  max-height: 300px;
}

.carousel-item {
  padding: 0 70px;
  text-align: center;
}

/* Contact */
.contactForm {
  text-align: center;
}
.contactForm input {
  margin-bottom: 30px;
}

.details {
  color: purple;
}
.details:hover {
  text-decoration: none;
  color: purple;
}
#phoneBtn {
  display: block;

  height: 48px;
}
.mailBtn {
  display: inline-block;
  height: 20px;
}

#sendBtn {
  color: black;
  background-color: white;
  border-radius: 5px;
}

#sendBtn:hover {
  color: white;
  background-color: black;
  border-radius: 5px;
}
.botton {
  margin: 30px 0;
}
#phoneBtn:hover,
#mailBtn:hover {
  background-color: aqua;
  text-decoration: uppercase;
}

@media (max-width: 767px) {
  .getInTouch {
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
  }
  .footer {
    text-align: center;
  }
  p {
    text-align: left;
  }
  #phoneBtn {
    display: inline;
  }
  .imags {
    text-align: center;
  }
  .navbar-brand {
    position: relative;
    left: 40%;
  }
  .navbar-toggler {
    position: relative;
    right: 92%;
  }
}
@media (max-width: 600px) {
  .navbar-toggler {
    position: relative;
    right: 91%;
  }
}

@media (max-width: 540px) {
  .navbar-toggler {
    position: relative;
    right: 90%;
  }
}
@media (max-width: 400px) {
  .navbar-toggler {
    position: relative;
    right: 85%;
  }
}
/* Footer */

.bottom-container {
  padding-top: 80px;
  background-color: #1b1717;
  height: 250px;
  text-align: center;
}
.footer-link {
  padding: 20px;
  font-size: 1.3rem;
}
.footer-link:hover {
  padding: 20px;
  font-size: 1.3rem;
  color: white;
}

.footer {
  padding-top: 40px;
  color: #eaf6f6;
  font-size: 1.3rem;
}

/* Dark mode */
.sectionDarkMode {
  background-color: #343a40;
}
.headerDarkMode {
  color: #ffc107;
}
.paraDarkMode {
  color: #e1e8eb;
}

.h4DarkMode {
  color: #d89216;
}
.darkModeifeanyi-span {
  font-weight: bolder;
  font-family: "Domine", serif;
  color: #ffc107;
}
.labelDarkMode {
  background-color: #faf1e6;
}
.iconDarkMode {
  color: purple;
}
